<!DOCTYPE html>

<html>
<head>
    <META HTTP-EQUIV="Content-Type" CONTENT="text/html; charset=UTF-8">
    <title>Regular</title>
    <link rel="shortcut icon" type="image/x-icon" href="img/icon-regex.png" />
    <link rel="stylesheet" type="text/css" href="http://dailymotion.com/css/gen/pack/switch-ltr.css">
    <link rel="stylesheet" type="text/css" href="css/main.css">
    <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.2.5/angular.min.js"></script>
    <script src="js/main.js"></script>
</head>
<body ng-app  ng-controller="MainCtrl">
    <div class="container">
        <h1>Regular - now you have two problems</h1>
        <h2>Your regular expression</h2>
        <div class="row mrg-btm-lg">
            <input type="text" ng-model="regex" class="span-12 pdg-sm font-lg brd-rad-md" placeholder="Enter your regex" ng-change="applyRegex()">
        </div>
        <div class="row font-md"><code>/{{ regex }}/{{ flags }}</code> or <code>new RegExp("{{ regex }}", "{{ flags }}")</code></div>

        <div class="row">
            <div class="col-6">
                <h2>Your test string</h2>
                <textarea ng-model="stringToTest" ng-change="applyRegex()" rows="6" class="span-5 pdg-sm font-lg brd-rad-md"></textarea>
            </div>
            <div class="col-6">
                <h2>Your match results</h2>
                <pre class="pdg-sm" ng-bind-html="highlightedResults"></pre>
            </div>
        </div>

        <div style="color: red">{{ error }}</div>
    </div>
</body>
</html>
